.role-user-label{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #005cbb;
  color: white;
  padding: 0 8px 0 0;
  font-size: 12px;
}

.menu-icon{
  transform: scale(0.7);
}

.menu-icon span{
  margin-left: -5px;
}
