@if (author && post){
  <div class="post-card">
    <div class="top-section">
      <img class="profile-picture" src="/logo.png" alt="Profile Picture">
      <div class="info-section">
        <span>{{author.firstName}} {{author.lastName}}</span>
        <span class="email-info">{{getPostCreation(post.creationDate)}}</span>
      </div>
    </div>
    <editor [disabled]="true" class="post-content" [(ngModel)]="content" apiKey="nd3g0k4hxtsddd9b7xxl7pf335fizrnf9u5qra3kaj5aovvn"
            [init]="{
            plugins: 'autoresize',
            toolbar: 'false',
            menubar: 'false',
            max_height: 500,
            disabled: true
            }"
    ></editor>

    @if (attachments && attachments.length > 0){
      <div class="attachments-section" >
        <mat-chip-set aria-label="Attachments">
          @for (attachment of attachments; track attachment){
            <mat-chip class="attachment" (click)="downloadAttachment(attachment.path)">{{attachment.originalName}}</mat-chip>
          }
        </mat-chip-set>
      </div>
    }

    <div class="bottom-section">
      <app-reactions [loggedUser]="loggedUser" [post]="post"></app-reactions>
      <button class="bottom-box">
        <mat-icon class="account-icon">comment</mat-icon>
        Comments({{getCommentsSize()}})
      </button>
    </div>
  </div>

}

