.post-card{
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(204, 204, 204, 0.9);
  max-width: 80em;
  width: 100%;
}

/*.account-icon{*/
/*  transform: scale(2);*/
/*}*/

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.top-section{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1em;
}

.post-content{
  flex:1;
}

.info-section{
  display: flex;
  flex-direction: column;
}

.email-info{
  color: #b8b8b8;
}

.bottom-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  padding: 0.7em;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.bottom-box:hover {
  color: white;
  background-color: rgb(55, 154, 218);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}


.post-card {
  position: relative;
}

.attachment{
  cursor: pointer;
}

