#side-nav{
  height: 100%;
  background-color: rgba(250, 250, 250, 0);
  padding: 1em;
  width: 20em;
  border-right: 2px solid #e3e3e3;
}

.top-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#groups-list{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.group {
  position: relative;
  display: inline-block;
  width: 100%;
}

.group-top-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2px;
}

.group-button {
  background-color: rgba(47, 49, 54, 0);
  width: 100%;
  color: #404040;
  padding: 5px 5px 5px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.group-button:hover {
  /*background-color: #efefef;*/
  color: #379ADAFF;
}

.dropdown-menu {
  margin: 2px 0 5px 0;
  background-color: rgba(47, 49, 54, 0);
  border-radius: 4px;
  width: 100%;
  list-style-type: none;
  padding: 0 0 0 1em;
}

.channel-shaded{
  color: #404040;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.channel{
  color: #404040;
  display: flex;
  padding: 0.5em;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  justify-content: left;
  cursor: pointer;
  width: 100%;
}

.channel-shaded:hover{
  background-color: #efefef;
  color: #333333;
  border-radius: 10px;
}

.tag-icon{
  transform: scale(0.8);
}

#search-bar{
  width: 100%;
}

.selected-channel{
  background-color: #efefef;
  color: #333333;
  border-radius: 10px;
}

.selected-group{
  color: #005cbb;
  background-color: #efefef;
  border-radius: 10px;
}

.channel-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.remove-button, .add-button{
  transform: scale(0.8);
}

.new-posts-badge {
  background-color: #c13a3a;
  color: white;
  padding: 0.5em;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  min-height: 1.5em;
  min-width: 1.5em;
  font-size: 14px;
  margin-right: 0.5em;
  /*min-width: 2em;*/
}

.group-badge{
  margin-left: 0.5em;
}
