<!--<div id="side-nav">-->
<!--  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">-->
<!--    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>-->
<!--&lt;!&ndash;      <button mat-icon-button disabled></button>&ndash;&gt;-->
<!--      <span class="channel"><mat-icon>tag</mat-icon>{{node.name}}</span>-->
<!--    </mat-tree-node>-->
<!--    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>-->
<!--      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">-->
<!--        <mat-icon class="mat-icon-rtl-mirror">-->
<!--          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}-->
<!--        </mat-icon>-->
<!--      </button>-->
<!--      {{node.name}}-->
<!--    </mat-tree-node>-->
<!--  </mat-tree>-->
<!--</div>-->

<div id="side-nav">
  <div class="dropdown">
    <button (click)="toggleDropdown()" class="dropdown-button">
      @if (isDropdownOpen){
        <mat-icon>arrow_drop_down</mat-icon>
      } @else {
        <mat-icon>arrow_right</mat-icon>
      }
      Company group
    </button>
    <ul *ngIf="isDropdownOpen" class="dropdown-menu">
      <li *ngFor="let channel of channels" (click)="selectChannel(channel)">
        <span class="channel"><mat-icon class="tag-icon">tag</mat-icon>{{channel.name}}</span>
      </li>
    </ul>
  </div>
</div>
