@if (comment){
  <div class="comment-card">
    <img class="profile-picture" src="/logo.png" alt="Profile Picture">
    <div class="right-section">
      <div class="top-section">
        <span>{{author.firstName}} {{author.lastName}}</span>
        <span class="date-info">{{getCommentCreation(comment.creationDate)}}</span>
      </div>
      <p>{{comment.content}}</p>
      <div class="bottom-section">
        <app-comment-reactions [loggedUser]="loggedUser" [comment]="comment" ></app-comment-reactions>
      </div>
    </div>
  </div>
}
