.logo {
  height: 4em;
}

#navbar{
  display: flex;
  flex-direction: row;
  padding: 0.5em 2em 0 1em;
  align-items: center;
  color: #333;
}

.title {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

#nav{
  margin-left: 1em;
  display: flex;
  flex-direction: row;
}

.nav-option{
  cursor: pointer;
  padding: 2em;
  align-content: center;
  justify-content: center;
}

.nav-option:hover {
  box-shadow: 0 -2px 0 0 #379ada inset;
  color: #191919;
}

.selected{
  box-shadow: 0 -2px 0 0 #379ada inset;
  color: #191919;
}

.push{
  flex:1;
}

#right-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

#account-icon-box{
  border-radius: 50%;
  background-color: #ffffff;
}

.account-icon{
  transform: scale(2);
}

#notification-icon-box{
  /*border: #e8e8e8 1px solid;*/
  /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);*/
  border-radius: 0.5em;
  background-color: #ffffff;
}
