.window-box{
  background-color: #fafafa;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

app-navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
}

.analytics-container{
  margin-top: 5.2em;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
}

.left-section, .right-section{
  width: 50%;
}

.left-section{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.popular-posts-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.most-active-users{
  display: flex;
  flex-direction: column;
}

.stretch{
  flex: 1;
}

.group-posts-stats{
  display: flex;
  flex-direction: column;
}

.most-active-users-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  margin-bottom: 1em;
}

.group-posts-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  margin-bottom: 1em;
}

.chart-container {
  width: 60%;
  align-self: center;
  display: flex;
  align-items: center;
}

